#clubList {
    padding: 10px;
    padding-top: 80px;
    float: right;
    width: 30%;
}

#clubContainer {
    padding: 40px;
    width: 60%;
    margin: 30px;
    display: inline-block;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}

.clubName {
     font-size: 30px;
     color: #FFFFFF;
     padding: 10px;
 }

.clubGenre {
    color: black;
    padding: 10px;
}

.clubDesc {
    color: black;
    padding: 10px;
    width: 80%;
}

.clubImage {
    float: right;
    height: 150px;
    width: 120px;
}

.clubSection {
    padding: 30px;
    color: white;
    overflow: auto;
    background-color: white;
    display: inline-block;
    width: auto;
    float: left;
    margin: 1%;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}

.fb-page {
    float: right;
    padding: 30px;
}