#clubName {
     font-size: 30px;
     color: #FFFFFF;
     padding: 10px;
 }

#clubGenre {
    color: #FFFFFF;
}

#clubImage {
    height: 150%;
    width: 150%;
}

#clubSection {
    padding: 10px;
    margin-left: 10px;
}