#healthWellbeing {
    width: 1800px;
    margin: auto;
}

#pageHeader {
    text-align: center;
}

#staticHealthSection, #dynamicNewsSection {
    padding: 40px;
    width: 700px;
    background-color: grey;
    margin: 20px;
    float: left;
}

.staticInfoContainer {
    padding: 40px;
    margin-bottom: 30px;
    background-color: white;
}

.staticInfoHeader {
    padding: 10px;
}

.dynamicNewsContainer, .dynamicEventContainer {
    padding: 40px;
    margin-bottom: 30px;
    background-color: white;
}

.dynamicNewsTitle, .dynamicEventName {
    padding: 10px;
}

.newsContent, .eventDescription {
    padding: 10px;
}

.newsDate, .eventDate {
    padding: 10px;
}