#healthWellbeing {
    width: 100%;
    margin: auto;
}

#pageHeader {
    text-align: center;
    padding: 50px;
}

.sectionHeader {
    text-align: center;
}

#staticHealthSection, #dynamicNewsSection, #dynamicEventsSection {
    padding: 40px;
    width: 80%;
    background-color: grey;
    margin: auto;
    margin-bottom: 30px;
}

.staticInfoContainer, .dynamicNewsContainer, .dynamicEventContainer {
    padding: 40px;
    margin-top: 30px;
    background-color: white;
}

.staticInfoHeader, .dynamicNewsTitle, .dynamicEventName {
    padding: 10px;
}

.newsContent, .eventDescription {
    padding: 10px;
}

.newsDate, .eventDate {
    padding: 10px;
}

.banner {
    width: 100%;
    left: 0;
    right: 0;

}