#healthSection {
    padding: 10px;
    padding-top: 80px;
    width: 80%;
    background-color: grey;
    margin: 10px;
}

.staticInfoContainer {
    padding: 10px;
}

.staticInfoHeader {
    padding: 10px;
}