@CHARSET "UTF-8";

#welcome {
	display: flex;
	color: #040404;
	align-content: center;
	justify-content: center;
	padding-top: 100px;
	width: 100%;
}

.information{
	width:400px;
	height:600px;
	text-align: right;
	font-family:Calibri;
	font-size: 20px;
	padding-right: 10%;


}

.myimage{
	width:400px;
	height:300px;
	align:left;

}