@media (min-width:1800px) {
    .pageWidth {
        width: 1800px;
        transition: width 0.3s ease;
        margin-left: auto;
        margin-right: auto;
        background: #fafafa;
    }
}
@media (max-width:1800px){
    .pageWidth {
        width: 100%;
        transition: width 0.3s ease;
        margin-left: auto;
        margin-right: auto;
        background: #fafafa;
    }
}

#notMember {
    text-align: center;
    padding-top: 200px;
}

#profileHeader {
    text-align: center;
    padding-top: 200px;
}

#banner{
    width:100%;
}

#clubList {
    width: 80%;
    padding: 30px;
    margin: auto;
}

#clubContainer {
    padding: 40px;
    width: 55%;
    margin: 30px;
    display: inline-block;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}

.clubName {
    font-size: 30px;
    color: #FFFFFF;
    padding: 20px;
}

.clubGenre {
    color: black;
    padding: 20px;
}

.clubImage {
    float: right;
    height: 150px;
    width: 120px;
}

.clubSection {
    padding: 30px;
    color: white;
    overflow: auto;
    background-color: white;
    display: inline-block;
    width: 450px;
    height: 250px;
    float: left;
    margin: 1%;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}

#clubForm {
    padding: 30px;
    color: white;
    overflow: auto;
    background-color: white;
    display: inline-block;
    width: auto;
    margin: 1%;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}

#clubLabel, #genreLabel, #descLabel, #contactLabel {
    color: black;
    padding: 5px;
}

#description {
    height: 200px;

}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=text]:focus {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}

input[type=button], input[type=submit], input[type=reset] {
    border: none;
    height: 50px;
    border-radius: 4px;
    color: white;
    padding-left: 7%;
    padding-right: 7%;
    margin: 0 5% 15px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font: bold 16px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
    text-shadow: 0 -1px 0 rgba(0,0,0,.3);
    transition-duration: 0.2s;
}